body {
  background-color: beige;
}

.trafficHold {
  border: 6px solid black;
  margin-left: 2rem;
  position:relative;
  height: 100px;
  width: 0px ;
}

.wrapper {
  background-color: black;
  width: fit-content;
  border-radius: 10%;
 
}

.fa-solid {
  margin: 1.5rem;

}