body {
  background-color: beige;
}

.trafficLight {
  display: flex;
  flex-direction: column;
  
}

.trafficHold {
  border: 4px solid black;
  position:relative;
  height: 100px;
  width: 0px ;
}

.wrapper {
  border: 3px solid black;
}

.fa-solid {
  margin: 1.5rem;

}